<div class="absolute inset-0 overflow-hidden pointer-events-none">
    <div class="absolute w-[546px] h-[454px] rounded-full opacity-80 blur-[115px] bg-[#118AB2]" style="left: 177px; top: -210px;"></div>
    <div class="absolute w-[546px] h-[454px] rounded-full opacity-80 blur-[115px] bg-[#118AB2]" style="left: 175px; top: 639px;"></div>
    <div class="absolute w-[587px] h-[565px] rounded-full opacity-70 blur-[125px] bg-[#06D6A0]" style="right: -193px; top: 294px;"></div>
    <div class="absolute w-[587px] h-[565px] rounded-full opacity-70 blur-[125px] bg-[#06D6A0]" style="right: -213px; top: 1375px;"></div>
    <div class="absolute w-[587px] h-[565px] rounded-full opacity-70 blur-[125px] bg-[#06D6A0]" style="left: -190px; top: 1728px;"></div>
</div>