<div class="relative flex justify-center items-center">
    <div class="absolute inset-0 bg-[#06D6A0] rounded-full blur-[80px] opacity-20 animate-pulse"></div>
    
    <img src="<%= img %>" 
         alt="<%= alt %>" 
         class="w-full max-w-[400px] lg:max-w-[600px] h-auto drop-shadow-2xl animate-space-float object-contain relative z-10">
</div>